@model GoWatch.Models.GuestList

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>GuestList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GuestListID" />
            <div class="form-group">
                <label asp-for="FanID" class="control-label"></label>
                <select asp-for="FanID" class="form-control" asp-items="ViewBag.FanID"></select>
                <span asp-validation-for="FanID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventID" class="control-label"></label>
                <select asp-for="EventID" class="form-control" asp-items="ViewBag.EventID"></select>
                <span asp-validation-for="EventID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Going" /> @Html.DisplayNameFor(model => model.Going)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Arrived" /> @Html.DisplayNameFor(model => model.Arrived)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
