@model GoWatch.Models.FriendRequest

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>FriendRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FanID" class="control-label"></label>
                <select asp-for="FanID" class ="form-control" asp-items="ViewBag.FanID"></select>
            </div>
            <div class="form-group">
                <label asp-for="FriendID" class="control-label"></label>
                <select asp-for="FriendID" class ="form-control" asp-items="ViewBag.FriendID"></select>
            </div>
            <div class="form-group">
                <label asp-for="StatusRequest" class="control-label"></label>
                <input asp-for="StatusRequest" class="form-control" />
                <span asp-validation-for="StatusRequest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
